@import "bootstrap.less";
@import "responsive.less";
@import "styles/github.less";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic,400italic,600italic|Source+Code+Pro:300,400,600);


pre {
  margin: 0; font-size: medium;
}

body {
  background: #f2f2f2;
  color: #333;

}

#content,
#sidebar {

}

#content {
  margin-top: 40px;
}

#sidebar {
  border-left: 1px solid #CCC;
  padding-left: 39px;
}
.branding {
  /*background:#CCC;*/
}

h1,h2 {
  font-family: @monoFontFamily;
  font-weight: normal;
  text-transform: uppercase;
}
h1 {
  color: #3367a0;
  font-size: 52.5px;
  line-height: 108%;
  font-weight: bold;
}
h2 {
  color: #538cb7;
}
.entry {
  margin-bottom: 48px;
}
.date {
  font-family: 'Abel', sans-serif;
  font-size: 19px;
}
.excerpt {
  margin-top: 12px;
}