@import "bootstrap.less";
@import "responsive.less";
@import "styles/github.less";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic,400italic,600italic|Source+Code+Pro:300,400,600);
@import "font-awesome";


pre {
  margin: 0; 
  font-size: medium; 
}

body {
  color: @grayDarker;
  padding: 50px 0;
}

h1, h2, h3, h4 {
  line-height: 1.2em;
  margin: 0;
}

h1, h2 {
  font-weight: 400;
}

h1 {
  color: @blue;
  font-size: 52px;
  font-size: @baseFontSize + 30;
  font-weight: 400;
}

h2 {
  color: @green;
  text-transform: uppercase;
  a {
    color: @green;
  }
}

h3 {
  color: @grayLight;
  font-weight: 200;
}

h4 {
  color: @gray;
  font-weight: 400;
}

p {
  margin: 0 0 7px 0;
  font-weight: 400;
  font-size: @baseFontSize;
}

a {
  &:hover {
    text-decoration: none;
  }
}

article {
  h2 {
    margin-bottom: 5px;
  }
}

// more elegant bullets
// this and the <ul> really shouldn't be styled globally, but I want it to be applicable to the posts
// (where you can't put classes on the markdown)
li {
  list-style: none;
  background: url(/assets/img/bullet.png) no-repeat left 8px;
  margin: 0 0 2px 0;
  padding-left: 12px;
  font-size: @baseFontSize;
}

ul {
  padding: 0;
  margin: 0;
}

hr {
  border: none;
  border-top: 1px dashed @neutral;
}

tt, code, kbd, samp {
  font-family: @monoFontFamily;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

.sidebar {
  border-left: 1px solid @neutral;
  padding-left: 40px;
  margin-left: 20px;
}

.entry {
  margin-bottom: 48px;
}

.date {
  font-family: @monoFontFamily;
  font-size: @baseFontSize - 2;
  color: @gray;
  padding: 4px;
  margin: 7px 0;
  background: @grayLighter;
  .border-radius(4px);
}

.entry {
  margin-top: 10px;
}

.excerpt {
  margin-top: 12px;
}

//  css only drop shadow
.drop-shadow {
  position: relative;
  height: 10px;
  margin-top: -33px;
  margin-bottom: 20px;
  z-index: -10;
}

.drop-shadow:before,
.drop-shadow:after{
  content: "";
  position: absolute;
  bottom: 15px;
  left: 5px;
  width: 50%;
  height: 20%;
  max-width: 300px;
  .box-shadow(0 15px 10px black);
  .box-shadow(0 15px 10px rgba(0, 0, 0, .8));
  .rotate(-3deg);
}

.drop-shadow:after{
  right: 5px;
  left: auto;
  .rotate(3deg);
}

// image treatment
// image treatment
.polaroid{
  padding: 15px;
  border: 1px solid @neutral;
  .border-radius(2px);
  background: white;
  margin-bottom: 20px;
}

.branding {
  padding-bottom: 10px;
  border-bottom: 10px solid @grayLighter;
  hgroup {
    margin-bottom: 30px;
  }
  h1 {
    text-transform: uppercase;
    font-size: @baseFontSize + 17;
    font-weight: 400;
    line-height: 1.2em;
    color: @orange;
  }
  h2 {
    font-size: @baseFontSize + 4;
    text-transform: lowercase;
    font-family: @monoFontFamily;
    margin-top: -3px;
    color: @gray;
  }
}

.contact-list {
  li {
    display: inline;
    background: none;
    border-right: 1px solid @neutral;
    padding-right: 10px;
    margin-right: 7px;
    padding-left: 0;
    &:last-child {
      border-right: none;
    }
  }
  a {
    color: @gray;
    &:hover {
      text-decoration: none;
      color: @orange;
    }
  }
}

.resume {
  margin-top: 5px;
  border-top: solid @grayLighter 3px;
  padding-top: 10px;
}

.location {
  dt, dd {
    display: inline;
    color: @gray;
    font-weight: 400;
    margin: 0;
  }
}

// fine tuning the position of this icon
.icon-github-alt {
  position: relative;
  top: 1px;
}

// responsive
@media only screen and (max-width: 767px) {
  .sidebar {
    border: none;
    padding: 0;
    margin: 0;
  }

  body {
    padding: 20px;
  }
}

