// new stuff
@neutral: #ccc;
@pale-horse: #f2f2f2;


// Override some bootstrap variables, or replace?
@sansFontFamily: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
@monoFontFamily: "Source Code Pro", Monaco, Menlo, Consolas, "Courier New", monospace;

@bodyBackground: @pale-horse;

@baseFontSize: 15px;