<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/application.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="content" class="container" >
      <div id="main" class="span8">
        <div>
          {{ content }}
        </div>
      </div>
      <div id="sidebar" class="span2">
        <img src="http://www.gravatar.com/avatar/e041154616172eae257d34280feb0f20" align="left" />
        <h3><a href="/">Bryan Shelton</a></h3>
      </div>    </div>
  <script src="/application.js"></script>
  </body>
</html>