<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ site.name }}{% if page.title %} | {{ page.title }}{% endif %}</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.5' name='viewport'>
    <link href='/assets/images/favicon.ico' rel='shortcut icon'>
    <link href='//fonts.googleapis.com/css?family=Merriweather:300,300italic'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/assets/css/app.min.css" rel="stylesheet">
  </head>
  <body>
  <div class="nav main-nav">
    <div class="wrapper">
      <div class="logo">Bryan Shelton</div>
      <ul class="inline-list">
        <li>
          <a href="https://github.com/bshelton229" target="_blank"><i class="fa fa-github"></i></a>
        </li>
        <li>
          <a href="https://twitter.com/bshelton229" target="_blank"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
          <a href="http://www.linkedin.com/pub/bryan-shelton/21/1b8/11a/" target="_blank"><i class="fa fa-linkedin"></i></a>
        </li>
        <li>
          <a href="#" class="myemail"><i class="fa fa-envelope"></i></a>
        </li>
      </ul>
    </div>
  </div>
  {{ content }}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="/assets/js/app.js"></script>
  </body>
</html>
