<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/application.css" />
    <meta name="description" content="Bryan Shelton develops in a wide variety of programming languages and frameworks, always using the best tool for the job; including, but not limited to Ruby, Rails, and Node.js.">
    <link href='/assets/ico/favicon.ico' rel='shortcut icon'>
    <meta charset="utf-8">
  </head>
  <body>

    <div class="container">
      <div class="row">

        <div class="span4 pull-right">
          <div class="sidebar">
            <figure class="polaroid hidden-phone">
              <img src="/assets/img/tea.jpg" alt="Tea">
            </figure>
            <div class="drop-shadow hidden-phone"></div>
            <div class="branding">
              <hgroup>
                <h1>Bryan Shelton</h1>
                <h2>Web Developer</h2>
              </hgroup>
                <ul class="contact-list">
                  <li>720.352.6708</li>
                  <li><a href="mailto:bryan@linkinwater.com"><i class="icon-envelope-alt"></i></a></li>
                  <li><a href="//github.com/bshelton229/bshelton229.github.com" target="_blank"><i class="icon-github-alt"></i></a>
                </ul>
                <dl class="location hidden-phone">
                  <dt><i class="icon-map-marker"></i></dt>
                  <dd>Madison, Wisconsin, USA</dd>
                </dl>
            </div><!-- branding -->
            <p class="resume"><a href="/resume">View Resumé</a></p>
          </div><!-- sidebar -->
        </div><!--span4-->

        <div class="span8">
          {{ content }}
        </div><!--span8-->

      </div><!-- row -->
    </div><!-- container -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/application.js"></script>
  </body>
</html>
